#intro {
    background-image: url('../img/008.jpg');
    min-height: 10vh;
    margin-top: 0;
}

@media (min-width: 992px) {
    #intro {
        padding-top: 100px;
        padding-bottom: 0px;
    }
}

.text-center {
    text-align: center !important;
    color: antiquewhite;
}

.mb-4 {
    margin-bottom: 0rem !important;
}

.intro {
    margin-top: 20px;
}

.error-message {
    color: white;
    font-size: 12px;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid red;
    border-radius: 4px;
    background-color: rgba(255, 0, 0, 0.2);
    font-weight: normal;
}

.form {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    padding: 2rem;
}

.form-group {
    margin-bottom: 0rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #004085;
}

.form-check-input {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.3rem;
    margin-left: 0;
    vertical-align: middle;
    position: relative;
}

.form-check-label {
    margin-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    vertical-align: middle;
    position: relative;
}

.form-check {
    margin-bottom: 1rem;
}

.btn {
    margin-top: 1rem;
}

.gradient-custom-2 {
    background: linear-gradient(to right, rgb(3, 17, 29), rgb(57, 68, 87));
}

.product-img {
    height: 100%;
    object-fit: cover;
}

.product-name {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
}

.product-category {
    font-size: 0.9rem;
    color: #6c757d;
    text-align: center;
}

.small-product-card {
    height: 100%;
}

.card {
    border-radius: 1rem;
    overflow: hidden;
}

.card .rounded-top {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card .bg-light {
    background-color: #f8f9fa !important;
}

.user-info {
    margin-left: 30px;
    margin-top: 50px;
}

.btn-outline-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #23376b;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(7, 7, 56), rgb(57, 68, 87));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(3, 17, 29), rgb(57, 68, 87));
}

/* Set image height to 100% */
.user-profile-picture {
    width: 150px;
    z-index: 1;
}

/* Style for the form */
.profile-form {
    background-color: #e9edf0d1;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

/* Style for the form fields */
.form-group label {
    font-weight: bold;
}

/* Style for the form buttons */
.form-buttons {
    margin-top: 1.5rem;
}

/* Style for the edit button on profile picture */
.btn-edit-profile {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.user-profile-picture:hover + #profileImage,
#profileImage:hover,
.user-profile-picture:hover + .btn-edit-profile {
    display: block;
}

.error-message {
    color: white;
    font-size: 14px;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid red;
    border-radius: 4px;
    background-color: rgba(255, 0, 0, 0.2); /* Rouge avec une opacité de 20% */
}