.bg-image {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/background-main.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
}

#main_title {
    font-family: "Arial Rounded";
    -webkit-text-stroke: 1px transparent;

    font-size: 7rem;
    line-height: 6rem;
    letter-spacing: 0.8rem;
    background: linear-gradient(rgba(50, 50, 50, 1), rgba(255, 245, 240, 0.89)); /* Dégradé de gris foncé métallique en bas à blanc cassé en haut */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    padding-top: 15rem;
    padding-bottom: 0.5rem;
}



.main_comment{
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}




section{
    padding: 60px 0;
}

#logo{
    width: 50px;
    height: 50px;
    margin-right: 1%;
}



