{% extends 'base.html.twig' %}


{% block title %}Page de Contact{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('contact/css/style.css') }}">
    <script src="{{ asset('contact/style.js') }}"></script>
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}



{% block content %}
<form method="POST" id="contactForm" name="contactForm" class="contactForm">
    <div class="contact-page" style="margin-top: 200px; margin-bottom: 450px;">
        <div class="wrapper centered">
            <article class="letter">
                <div class="side">
                    <h1>Contact us</h1>
                    <p>
                        <textarea placeholder="Your message"></textarea>
                    </p>
                </div>
                <div class="side">

                    <p>
                        <input type="text" placeholder="Your name">
                    </p>
                    <p>
                        <input type="email" id="email" placeholder="Your email">
                        <span id="email-error" style="color: red; display: none;">Please enter a valid email address.</span>
                    </p>
                    <p>
                        <button id="sendLetter">Send</button>
                    </p>
                </div>
            </article>
            <div class="envelope front"></div>
            <div class="envelope back"></div>
        </div>
        <p class="result-message centered">Thank you for your message</p>
    </div>
</form>

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock footer %}
